<h1>Editing Trajectory</h1>

<%= render "form", flight: @trajectory %>

<br>

<div>
  <%= link_to "Show this trajectory", @trajectory %> |
  <%= link_to "Back to trajectories", trajectories_path %>
</div>
