<h1 class="text-3xl font-bold mb-4">Editing flight file</h1>

<%= render "form", flight_file: @flight_file %>

<div class="mt-4">
  <%= link_to "Show this flight file", @flight_file, class: "text-blue-500 hover:text-blue-700" %> |
  <%= link_to "Back to flight files", flight_files_path, class: "text-blue-500 hover:text-blue-700" %>
</div>