<!--<h1>New flight file</h1>-->

<%#= render "form", flight_file: @flight_file %>

<!--<br>-->

<!--<div>-->
  <%#= link_to "Back to flight files", flight_files_path %>
<!--</div>-->

<h1 class="text-4xl font-semibold mb-4">New flight file</h1>

<%= render "form", flight_file: @flight_file %>

<div class="mt-4">
  <%= link_to "Back to flight files", flight_files_path, class: "text-blue-600 hover:text-blue-800 underline" %>
</div>